body { 
	padding-top: 70px;
}

.margin-top {
	margin-top: 2em;
}

.widest {
	width: 100%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.wider {
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	padding-right: 1em;
}

.modal-body img {
	width: 40%;
	height: 40%;
	padding-bottom: 1em;
}